<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">Edit a comment</h1>
    <form action="" data-test="form">
      <div class="form">
        <div class="form-body">
          <textarea name="content" data-test="textarea-content" required></textarea>
          <input type="submit" value="Save" data-test="submit">
        </div>
      </div>
    </form>
  </div>
</div>
